<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.post_title }}</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Arimo|Lobster" rel="stylesheet">
</head>
<body id="hero">
<div id="branding">
    <h1><a href="{% url 'post_list' %}" id="nab">Abhay Sharma's Blog</a></h1>
</div>
<h1 id="heading">{{ post.post_title }}</h1><hr>
<h2 id="short-des">{{ post.post_short }}</h2><hr>
<h3 id="full-body">{{ post.post_body }}</h3>
</body>
</html>